@import "tailwindcss";
@import "react-big-calendar/lib/css/react-big-calendar.css";
@import "./calendar.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #3F51B5; 
  --color-light-primary: #a2b0ff;
  --color-light-gray: #EDEDED;
  --color-light-gray2: #D9D9D9;
  --color-light-black: #2c2c2c;
  --color-black: #1e1e1e;
  --color-black-alpha-95: #1e1e1eF3;
  --color-red: #C72424;
  --color-green: #24C73F;
}

* {
  scrollbar-color: var(--color-light-gray-2) var(--color-light-gray);
  scrollbar-width: thin;
  scroll-padding: 20px;
}

@media screen and (max-width: 768px) {
  .add-todo {
    margin-top: 10px;
  }
  .todo-text {
    font-size: 1.3rem !important;
  }
  .card-content {
    padding: 12px !important;
  }
}

.card-content {
  padding: 16px;
}
a {
  text-decoration: none;
  color: inherit;
}
